# Общие файлы macOS
# Игнорировать файлы .DS_Store в любой директории
.DS_Store

# Игнорировать ._ файлы, создаваемые на некоторых файловых системах
._*

# Файлы и директории, создаваемые Spotlight
.Spotlight-V100

# Корзины (могут появляться на внешних дисках)
.Trashes

# Временные элементы
.TemporaryItems

# Файлы и директории, связанные с событиями файловой системы
.fseventsd

# Пользовательские иконки папок
Icon?

# Иконка тома
.VolumeIcon.icns

# Локализационные файлы (не всегда нужны, но иногда игнорируются)
.localized